@source "./";

@theme {
  --color-green-50: oklch(0.9486 0.1825 119.51);
  --color-green-100: oklch(0.9441 0.1981 120.1);
  --color-green-200: oklch(0.9367 0.2192 121.47);
  --color-green-300: oklch(0.9204 0.2253 122.81);
  --color-green-400: oklch(0.8049 0.196782 122.6906);
  --color-green-500: oklch(0.6851 0.167169 122.524);
  --color-green-600: oklch(0.5122 0.124363 122.0835);
  --color-green-700: oklch(0.3229 0.0774 120.92);
  --color-green-800: oklch(0.2825 0.0675 120.6);
  --color-green-900: oklch(0.2406 0.0572 120.14);
  --color-green-950: oklch(0.1935 0.045 117.79);
}

@theme {
  --color-primary: var(--color-green-500);
  --color-primary-50: var(--color-green-50);
  --color-primary-100: var(--color-green-100);
  --color-primary-200: var(--color-green-200);
  --color-primary-300: var(--color-green-300);
  --color-primary-400: var(--color-green-400);
  --color-primary-500: var(--color-green-500);
  --color-primary-600: var(--color-green-600);
  --color-primary-700: var(--color-green-700);
  --color-primary-800: var(--color-green-800);
  --color-primary-900: var(--color-green-900);
  --color-primary-950: var(--color-green-950);
}

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(22.648% 0 0);
  --color-base-300: oklch(20.944% 0 0);
  --color-base-content: oklch(84.87% 0 0);
  --color-primary: oklch(0.6851 0.167169 122.524);
  --color-primary-content: oklch(27% 0.006 286.033);
  --color-secondary: oklch(64.092% 0.027 229.389);
  --color-secondary-content: oklch(12.818% 0.005 229.389);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(51.61% 0.146 29.674);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

